* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


html,
body,
#root {
    height: 100%;
}

body {
    background: #f5f5f5;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.divTable {
    display: table;
    /* width: 100%; */
}

.divTR {
    display: table-row;
}

.divTH {
    background-color: #EEE;
    display: table-header-group;
}

.divTD,
.divTH {
    border: 0px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTH {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTF {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTB {
    display: table-row-group;
}

body,
input {
    font-family: Arial, Helvetica, sans-serif;
}